<div class="myFooter">
	<ul>
	    <li><a href="#">Mention légale</a></li>
	    <li><a href="#" class="btAboutus">Contact</a></li>
	    <li><a href="#">condition d'utilisation</a></li>
	    <li><a href="#">Cookies</a></li>
	</ul>
	<span>&copy;2016 rostiti.com</span>
</div>